.footer {
  padding: 84px 3%;
  border-top: 1px solid var(--border-shade);
  background-color: var(--white-eade);
  padding-top: 80px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-bottom: 32px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.footer-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.footer-grid {
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-link-wrapper {
  text-align: left;
  max-width: 390px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-link-large {
  display: block;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: var(--granite);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

/**/

.footer-column-flat {
  display: flex;
  padding-right: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-bottom {
  display: flex;
  margin-top: 162px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid var(--border-shade);
}

.footer-wrapper {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-rights {
  display: block;
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(30, 40, 51, 0.5);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.secondary-link-dark {
  display: block;
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--granite);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.social-wrap {
  display: flex;
}

.social-link svg {
  height: 24px;
  width: 24px;
}

.social-link {
  color: var(--white-eade);
  margin-left: 8px;
  border-radius: 12px;
  background-color: var(--granite);
  display: flex;
  font-size: 18px;
  width: 55px;
  height: 55px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
