/*-----------------
VARIABLES
------------------*/

:root {
  --header-height: 5rem;

  --granite: #030304;
  --white-eade: #feffff;
  --alfalfa: #f8f8f8;
  --smoke-white: #f8f9fd;
  --alice-blue: #e3e7ef;
  --ice-blue: #e3e7ee;
  --error-red: #ff5582;
  --border-shade: #e5ecf5;
  --electric-pink: #f9ccff;
  --deep-shadow: #171c26;
  --deep-coven: #66666e;
  --secondary-blue: #85c8ff;
  --dodgerblue: dodgerblue;
  --sleak-bold: hsla(45, 5%, 86%, 100%);
  --sleak-medium: hsla(40, 5%, 89%, 100%);
  --pink-light: hsl(292, 57%, 97%);
  --blue-eade: hsla(214, 10%, 86%, 100%);
  --white-alpha-75: rgba(255, 255, 255, 0.6);
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-36: rgba(255, 255, 255, 0.36);

  --tooltip-zindex: 10;
  --z-fixed: 100;

  --backdrop-blur-light: blur(8px);
  --backdrop-blur-medium: blur(12px);
  --backdrop-blur-max: blur(16px);

  --default-font: Larsseit, -apple-system, BlinkMacSystemFont, "DM Sans",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --monospace-font: RelativeMono10Pitch, monospace;
  --header-font: Thicccboi, -apple-system, BlinkMacSystemFont, "DM Sans",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --text-normal: var(--deep-shadow);
  --text-muted: var(--deep-coven);
}

/*-----------------
GLOBALS
------------------*/

body {
  margin: 0;
  height: 100vh;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-muted);
  background-color: var(--smoke-white);
  line-height: 1.667em;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: var(--default-font);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: var(--monospace-font);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: bold;
}

h1 {
  display: block;
  margin-block-start: 0.46em;
  margin-block-end: 0.46em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: var(--granite);
  font-size: 60px;
  line-height: 1.1667;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  color: var(--granite);
  font-size: 43px;
  line-height: 1.2895;
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 4rem 0 2rem;
}

.section {
  background-color: var(--white-alpha-36);
  border-top: 1px solid var(--border-shade);
  min-height: 100vh;
  margin: 0 auto;
}

.app-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  max-width: 1348px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-----------------
MAIN ELEMENTS
------------------*/

.main {
  transition: all 0.46s ease-in-out;
}

.main.fade-away {
  opacity: 0;
}

.main_container {
  overflow: hidden;
  height: 100vh;
  padding: 100px 3%;
  padding-top: 130px;
}

.main_inner_container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
  width: 100%;
}

.main {
  position: relative;
  overflow: hidden;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 1em 0.8em;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 1.56;
  border-radius: 12px;
  font-family: var(--default-font);
  background-color: var(--white-alpha-36);
  border: 1px solid var(--border-shade);
}

.feature-content {
  position: absolute;
  left: 0px;
  display: flex;
  right: 0px;
}
